@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; /* Add a long transition to prevent blinking */
  background-color: #fff; /* Set your desired background color */
  [data-theme="dark"] & {
    background-color: #333; /* Set autofill background color for dark mode */
  }
}

[data-theme="dark"] {
  @apply bg-[#4c4c4c] text-[#e3ebdb];
}
.forum-btn1{
  @apply  text-white px-4 py-1 rounded-lg cursor-pointer
}
.cardinhome{
  @apply lg:w-[50vw] lg:max-w-[800px] md:w-[90vw] md:max-w-[500px] w-[95vw] mx-auto 
}
